<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Realizar Cadastro</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="javascripts/logarControle.js" type="module"></script>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <header class="blue-background">
        <div class="logo">
            <img src="images/logo.png" alt="Swordplay Logo" class="logoimg">
            <a class="texto-titulo" href="/">Swordplay - CP</a>
        </div>
        <nav>
            <ul>
                <li><a href="/sobre">Proposta</a></li>
                <li><a href="/sobremim">Sobre mim</a></li>
                <li><a href="/tecnologias">Tecnologias e Ferramentas</a></li>
                <li><a href="/contato">Entrar em contato</a></li>
            </ul>
        </nav>
    </header>
    <div class="div-conteudo">
        <div class="div-proposta">
            <div class="oq-texto">
                <b> O que é o Swordplay? <br><br></b>
                O Swordplay é uma atividade recreativa que tem como proposito a simulação de combates medievais (treinos) 
                utilizando réplicas acolchoadas desses equipamentos para garantir uma diversão mais segura. Esse site irá salvar então,
                os participantes que foram em um determinado treino assim como realizar um CRUD.
            </div>        
        </div>
        <div class="div-login">
            <div class="container" style="margin-top: 120px;">
                <form id="formCadUser" action="/usuarios/cadastrar" method="POST">
                    <label for="uname"><b class="texto-titulo">Nome : </b></label>
                    <input type="text" placeholder="Insira o nome..." name="nomecad" required>

                    <label for="uname"><b class="texto-titulo">Insira a idade : </b></label>
                    <input type="number" placeholder="Insira a idade (18 para cima)..." name="idadecad" required>

                    <label for="uname"><b class="texto-titulo">Email para cadastro: </b></label>
                    <input type="text" placeholder="Insira o Email..." name="logincad" required>
                
                    <label for="psw"><b class="texto-titulo">Senha para cadastro: </b></label>
                    <input type="password" placeholder="Insira a senha..." name="senhacad" required>
                </form>
                <button id="cadastrarBtn">Cadastrar</button>
              </div>
        </div>
    </div>
    <footer class="blue-background">
        Swordplay - CP || @swordplaycputfpr
    </footer>
</body>
</html>