<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Página de Login</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">

</head>
<body>
    <header class="blue-background">
        <div class="logo">
            <img src="images/logo.png" alt="Swordplay Logo" class="logoimg">
            <a class="texto-titulo" href="/">Swordplay - CP</a>
        </div>
        <nav>
            <ul>
                <li><a href="/sobre">Proposta</a></li>
                <li><a href="">Projeto</a></li>
                <li><a href="">Tecnologias e Ferramentas</a></li>
               <li><a href="/contato">Entrar em contato</a></li>
            </ul>
        </nav>
    </header>
    <div class="div-conteudo">
        <div class="div-proposta">
            <div class="oq-texto">
                <b> O que é o Swordplay? <br><br></b>
                O Swordplay é uma atividade recreativa que tem como proposito a simulação de combates medievais (treinos) 
                utilizando réplicas acolchoadas desses equipamentos para garantir uma diversão mais segura. Esse site irá salvar então,
                os participantes que foram em um determinado treino assim como realizar um CRUD.
            </div>        
        </div>
        <div class="div-login">
            <div class="container">
                <label for="uname"><b class="texto-titulo">Email: </b></label>
                <input type="text" placeholder="Insira o Email" name="login" required>
            
                <label for="psw"><b class="texto-titulo">Senha: </b></label>
                <input type="password" placeholder="Insira a senha" name="senha" required>
            
                <button type="submit">Login</button>
              </div>
        </div>
    </div>
    <footer class="blue-background">
        Swordplay - CP || @swordplaycputfpr
    </footer>
</body>
</html>