<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Página de Proposta</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/proposta.css">

</head>
<body>
    <header class="blue-background">
        <div class="logo">
            <img src="images/logo.png" alt="Swordplay Logo" class="logoimg">
            <a class="texto-titulo" href="/">Swordplay - CP</a>
        </div>
        <nav>
            <ul>
                <li><a href="/sobre">Proposta</a></li>
                <li><a href="/sobremim">Sobre mim</a></li>
                <li><a href="/tecnologias">Tecnologias e Ferramentas</a></li>
                <li><a href="/contato">Entrar em contato</a></li>
            </ul>
        </nav>
    </header>
    <h1> <center> <b> Proposta </b> </center></h1> <br>
    <center> <img src="images/logo.png" alt="Swordplay Logo" class="logoimg"> </center>
    <div class="div-proposta-meio">
        <div class="grid-layout">
            <div class="oq-texto">
                <h4>
                    <b> O que é a Falkisgate?<br><br></b>
                    Falkisgate, originário do termo alemão "espírito do falcão", é uma entidade sem 
                    fins lucrativos dedicada à organização de diversas atividades artísticas, 
                    culturais e esportivas com temática medieval. Sua missão é promover e 
                    preservar a riqueza histórica e cultural desse período, proporcionando aos 
                    participantes uma imersão única nesse universo fascinante. 
                </h4>  
            </div>   
            <div class="oq-texto">
                <h4>
                    <b> O que é o Swordplay? <br><br></b>
                    O Swordplay é uma atividade recreativa que busca recriar os combates medievais 
                    por meio de treinos, utilizando réplicas acolchoadas de equipamentos da época. 
                    Essa abordagem com réplicas acolchoadas proporciona uma experiência divertida e 
                    segura para os participantes<br>
                </h4>   
            </div>       
            <div class="oq-texto">
                <h4>
                    <b> Qual o objetivo desse trabalho? <br><br></b>
                    A principal finalidade desta aplicação é fornecer uma plataforma completa para 
                    o gerenciamento dos treinos, permitindo realizar operações de criação, leitura, 
                    atualização e exclusão (CRUD) das informações relacionadas a cada treino, 
                    incluindo suas especificações. Além disso, a aplicação tem o intuito de promover 
                    de maneira eficaz o projeto de extensão, 
                    ampliando sua visibilidade e possibilitando uma maior interação com os participantes<br> 
                <h4>
            </div> 
        </div>
        <h1> <center> <b> Veja alguma de nossas fotos! </b> </h1> <br>
        <div class="div-proposta-meio imagens-container">
            
            <img src="images/swordplay1.png" alt="Treino Especial" class="demonstracao-img">
            <img src="images/treino2.png" alt="Treino Especial 2" class="demonstracao-img">
            <img src="images/treino3.png" alt="Treino Especial 2" class="demonstracao-img"></center>
        </div> 
    </div>
    <br><br>
    <footer class="blue-background">
        Swordplay - CP || @swordplaycputfpr
    </footer>
</body>
</html>