<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Sobre mim</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/sobremim.css">

</head>
<body>
    <header class="blue-background">
        <div class="logo">
            <img src="images/logo.png" alt="Swordplay Logo" class="logoimg">
            <a class="texto-titulo" href="/">Swordplay - CP</a>
        </div>
        <nav>
            <ul>
                <li><a href="/sobre">Proposta</a></li>
                <li><a href="/sobremim">Sobre mim</a></li>
                <li><a href="/tecnologias">Tecnologias e Ferramentas</a></li>
                <li><a href="/contato">Entrar em contato</a></li>
            </ul>
        </nav>
    </header>
    <div class="div-conteudo">
        <div>
            <img src="images/eu.jpg" alt="Programador" class="demonstracao-img">
        </div>
        <div class="div-texto">
            <p><b>Nome:</b><br> {{nome}}, {{idade}} anos </p>
            <p><b>Curso</b> <br> {{curso}}</p>
            <p><b>Tecnologias</b> <br> {{tecnologias}}</p>
            <p><b>Sobre mim</b><br> {{sobre}}</p>
        
        </div>
    </div>

        </div>
    </div>

    

    <footer class="blue-background">
        Swordplay - CP || @swordplaycputfpr
    </footer>
</body>
</html>