<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Tecnologias</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">

</head>
<body>
    <header class="blue-background">
        <div class="logo">
            <img src="images/logo.png" alt="Swordplay Logo" class="logoimg">
            <a class="texto-titulo" href="/">Swordplay - CP</a>
        </div>
        <nav>
            <ul>
                <li><a href="/sobre">Proposta</a></li>
                <li><a href="">Projeto</a></li>
                <li><a href="">Tecnologias e Ferramentas</a></li>
               <li><a href="/contato">Entrar em contato</a></li>
            </ul>
        </nav>
    </header>
    <div class="div-conteudo">
        <div><br><br>
            <h1>Tecnologias:</h1>
            <p>Essas serão as seguintes tecnologias que serão utilizadas.</p>
            <ul class="list-group">
                <li class="list-group-item texto-titulo" style="background-color: orange;">HTML, CSS e Javascript</li>
                <li class="list-group-item texto-titulo" style="background-color: blue;">Banco de Dados SQL (Postgres)</li>
                <li class="list-group-item texto-titulo" style="background-color: greenyellow;">Node</li>
                <li class="list-group-item texto-titulo" style="background-color: purple;">React</li>
            </ul>
            <br><br>
            <h1>Bibliotecas:</h1>
            <p>Essas serão as seguintes bibliotecas que serão utilizadas.</p>
            <ul class="list-group">
                <li class="list-group-item texto-titulo" style="background-color: darkgoldenrod;">Express.js</li>
                <li class="list-group-item texto-titulo" style="background-color: black;">Nodemailer</li>
                <li class="list-group-item texto-titulo" style="background-color: #a9d0f5;">Nodemon</li>
            </ul>
        </div>
    </div>

    <footer class="blue-background">
        Swordplay - CP || @swordplaycputfpr
    </footer>
</body>
</html>