body {
    background-color: #cccccc;    
}

.texto-titulo {
  font-size: 18px;
  color: white;
}

.blue-background {
  display: flex;
  background-color: #0850ae;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
}

.logoimg {
  width: 12%;
  border-radius: 15px;
}

header ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

header li {
  float: left;
  flex-direction: row;
  padding: 10px;
  font-size: 25px;
}

a {
  color: white;
}

.div-conteudo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.contato {
    width: 60%;
    margin-top: 100px;
  }