body {
    background-color: #cccccc;    
}

.texto-titulo {
  font-size: 18px;
  color: white;
 }

.blue-background {
  display: flex;
  background-color: #0850ae;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
}

.logoimg {
  width: 12%;
  border-radius: 15px;
}

header ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

header li {
  float: left;
  flex-direction: row;
  padding: 10px;
  font-size: 25px;
}

a {
  color: white;
}

.div-conteudo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.div-proposta {
    padding: 30px;
    width: 50%;
    align-self: center;
    margin-bottom: 10%;
}

.oq-texto{
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 10px
}

.div-login {
    background-color: #226be0;
    align-self: right;
    width: 60%;
    height: 100%;
}

.texto-titulo {
    font-size: 18px;
    color: white;
}

.container {
    width: 70%;
    margin-top: 200px;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 15px;
}

.menuOpcoes{
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 15px;
}

.descricao{
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 15px;
}

button {
  background-color: #cccccc;
  color: black;
  padding: 14px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 15px;
}
